@use './navbar.scss' as navbar;
body{
  position: relative;
  font-family: 'Roboto Mono Variable';
  width: 100%;
  background-color: aliceblue;
  margin: 0;
  padding: 0;	
  }
  body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background-position: center;
    background-attachment: fixed;
  background-size:cover;
  background-image: url("./public/assets/back1.jpg");
  filter: brightness(0.1); /* Ajusta el valor según tus preferencias para reducir el brillo */
  z-index: -1;
  }
  

.h1{
@include navbar.title;
}
.h1.check,.my-a.check {
  color: aqua;
}

.my-li{
  @include navbar.parali;
}
.my-a{
  @include navbar.paraa;
  }
ul{
  @include navbar.lista-estilo;
}