@use './components/navbar/navbar.scss' as navbar;
body{
  position: relative;
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;	
  }
  body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background-position: center;
    background-attachment: fixed;
  background-size:cover;
  background-image: url("./public/assets/back1.jpg");
  filter: brightness(0.1); /* Ajusta el valor según tus preferencias para reducir el brillo */
  z-index: -1;
  }
  

.h1{
@include navbar.title;
}
.h1.check,.my-a.check {
  color: aqua;
}

.my-li{
  @include navbar.parali;
}
.my-a{
  @include navbar.paraa;
  }
ul{
  @include navbar.lista-estilo;
}

#uth{
  display: block;
  .about{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: xx-large;
    .h2-1{
      font-weight: bold;
      color:#361f7b ;
      margin-right: 15px;
    }
    margin-bottom: -4vh;
  }
  .dvi{  
    display: flex;
    justify-content: center;
    align-items: center;
    .divider{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 0.5vh;
    background-color: aliceblue;
    }
    .icon{
      margin: 0px 15px 0 15px;
    }
  }
  .about-1{
    margin: 2vh 5vw 2vh 5vw;
  }
  #inter{
    justify-content: center;
    align-items: center;
    margin: 4vh 5vw 2vh 5vw;
    .integrantes{
      justify-content: center;
    align-items: center;
      display: flex;
      .image{
        width: 200px;
        height: 200px;
        border: solid #361f7b  1vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: 50%;
        padding: 1vw;
    }
    div{
      text-align: center;
      margin-right: 5vw;
    }
    }
      
    
      
  }

}
