@use '../../navbar.scss' as navbar;
*{
    text-align: center;
    color: aliceblue;
}
.h1{
@include navbar.title;
}
.h1.check,.my-a.check {
  color: aqua;
}

.my-li{
  @include navbar.parali;
}
.my-a{
  @include navbar.paraa;
  }
ul{
  @include navbar.lista-estilo;
}